.DishesContainer {
  width: 100%;
  background-color: #f3f4f6;
}

.DishesTopContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 11rem;
  padding: 0 25px;
}

.DishesHeading {
  font-size: 3rem;
  font-weight: 500;
  line-height: 3rem;
  font-family: serif;
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.DishesDescription {
  max-width: 20rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  text-align: center;
}