.navContainer {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 10;
}

.navSubContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  @media (max-width: 575px) {
    justify-content: space-between;
    padding: 3rem;
  }
}

.logoContainer {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: center;
  cursor: pointer;
}

.logo {
  margin-bottom: 1.25rem;
}

.logoText {
  display: none;

  @media (max-width: 575px), (min-width: 992px) {
    display: block;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 600;
  }
}

.navLinks {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  color: #4b5563;

  @media (max-width: 575px) {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    background: white;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}

.navLinks.open {
  display: flex;
}

.hamburgerContainer {
  display: none;

  @media (max-width: 575px) {
    display: block;
  }
}

.navItem {
  cursor: pointer;
}

.navButton {
  background-color: #EA6D27;
  font-family: serif;
  filter: drop-shadow(0 3px 3px rgb(0 0 0 / 0.12));
  color: white;
  border-radius: 1rem 0.375rem 1rem 0.375rem;
  padding: 1.25rem 1.75rem;
  white-space: nowrap;

  @media (max-width: 575px) {
    display: none;
  }
}
